.number-item {
    box-shadow: 0 4pt 8pt 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: calc(100vw / 32);
    width: calc(80vw / 16);
    height: calc(80vw / 16);
    max-width: calc(80vw / 4);
    max-height: calc(80vw / 4);
    border: 4pt 4pt 4pt 4pt black;
    border-radius: 50%;
    display: inline-block;
    margin: 10pt;
    user-select: none;
}

.number-item:hover {
    box-shadow: 0 8pt 16pt 0 rgba(0,0,0,0.2);
}

.number-item label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}